<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: yellow;">
    <del><i><h2 style="background-color:red; color:blue; font-family: 'Courier New', Courier, monospace; font-size: 300%; text-align: center;">Testing page</h2></i></del>
    <input type="submit" style="background-color: blue;">
    <i><b>Hello</b></i>

    <table style="background-color: turquoise;">
        <tr><th>Name</th></tr>
        <tr style="background-color: tomato;"><td>Anil</td></tr>
        <tr><td>Srijan</td></tr>
        <tr><td>Ami<i>ten</i>dra</td></tr>
        <tr><td>Anil</td></tr>
    </table>
    <footer>
        <a href="http://cetpainfotech.com" target="_blank">Cetpa</a>
    </footer>
</body>
</html>