<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome in Home Page</h1>
    <table>
        <tr><th>Details</th><th>Link</th></tr>
        <tr><td>Account Page</td><td><a href="index/">Click Here to Open Accont</a></td></tr>
        <tr><td>LoginPage</td><td><a href="login/">Click Here to Open Login</a></td></tr>
        <tr><td>Attribute Testing Page</td><td><a href="attrtesting/">Click Here to Open Attribute PAge</a></td></tr>
    </table>
<div></div>
   <h2></h2>
</body>
</html>