<!DOCTYPE html>
<html>
    <head>
<title>Home Page:Account</title>
    </head>
    <body>
    Welcome in Our Home Page:Account(Without Tag)
    <h1 style="color: blue; background-color: yellow;"> Welcome  in Our Home Page:Account(h1 Tag)</h1>
    <h2> Welcome in Our Home Page:Account(h2 Tag)</h2>
    <h3> Welcome in Our Home Page:Account(h3 Tag)</h3>
    <h4> Welcome in Our Home Page:Account(h4 Tag)</h4>
    <h5> Welcome in Our Home Page:Account(h5 Tag)</h5>
    <h6> Welcome in Our Home Page:Account(h6 Tag)</h6>
    <a href="https://www.cetpainfotech.com/" target="_blank">Click here to open Cetpa Infotech Website</a>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet mollitia, quod eveniet perspiciatis quam incidunt distinctio recusandae ullam placeat facere, voluptatem animi, deserunt quibusdam provident pariatur? Iste, obcaecati voluptatem? Velit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cumque deserunt repudiandae voluptatibus sit nam velit nostrum sunt consequuntur quae, tempore eum rerum cum placeat debitis illo dolore neque. Reprehenderit.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet mollitia, quod eveniet perspiciatis quam incidunt distinctio recusandae ullam placeat facere, voluptatem animi, deserunt quibusdam provident pariatur? Iste, obcaecati voluptatem? Velit.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi cumque deserunt repudiandae voluptatibus sit nam velit nostrum sunt consequuntur quae, tempore eum rerum cum placeat debitis illo dolore neque. Reprehenderit.
    </div>
    </body>
</html>